$charade: #2a2937;

.header_bar {

	header {
		width: 100%;
		padding-top: 1%;
		padding-bottom: 1%;
		font-size: 1.25rem;
		display: flex;
		flex-direction: row;

		a {
			text-decoration: none;
		}

		ul {
			margin: 0;
			margin-bottom: 0;
			padding: 0;
			list-style: none;
			display: flex;
			flex-direction: row;

			li {
				padding: 0.5rem 1rem;
			}
		}

		.header_logo {
			padding: 0.5rem 1rem;
			padding-left: 5%;
			flex: 1 0 auto;
			order: 10;
		}

		.header_nav {
			padding-right: 5%;
			flex: 0 1 auto;
			order: 20;
		}
	}
}
